/* Reset default list styles */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  /* Style the navigation bar */
  .navbar {
    background-color: #333;
    height: 60px;
  }
  
  .navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .navbar li {
    margin: 0 15px;
  }

  a{
    margin-right: 20px;
    size: 20px;
  }

  .navbar {
    background-color: #333; /* Set the background color of the navbar */
    color: #fff; /* Set the text color of the navbar */
  }
  
  .navbar a {
    color: #fff; /* Set the text color of the navbar links */
    font-size: 20px;
    text-decoration: none; /* Remove underline from the links */
    padding: 10px 15px; /* Add some padding around the links */
  }
  
  .navbar a:hover {
    background-color: #3aa14b; /* Set the background color of the navbar links on hover */
  }
  
  .container-fluid {
    max-width: 1200px; /* Set the maximum width of the container */
    margin: 0 auto; /* Center the container horizontally */
  }
  
  