
<body>
  <div class="register-form">
    <h1>Sign up</h1>
    <form>
      <div class = "role">
        <label id="role-label">Choose a role:</label>
       <br><br>
        <select name="role" #role id="role">
          <option value="student">Student</option>
          <option value="teacher">Teacher</option>
        </select>
      </div>
      <div class="form-group">
        <label for="name">First name:</label>
        <input type="text" id="name"#firstName name="name" required>
      </div>
      <div class="form-group">
        <label for="name">Last name:</label>
        <input type="text" id="name"#lastName name="name" required>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email"#email name="email" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password"#password name="password" required>
      </div>
      <div>
        <button class = "button" (click) = "getVal(role.value,firstName.value,lastName.value,email.value,password.value)">Sign up</button>
      </div>
    </form>
  </div>
</body>
<router-outlet></router-outlet>
