.department-item-container {
    margin-top: 10px;
    height: 100px;
    width: 200px;
  }
  
  .department-item {
    background-color: #f2f2f2;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    max-width: 300px;
    width: 100%;
    transition: transform 0.3s ease;
  }
  
  .department-item:hover {
    transform: translateY(-4px);
  }
  
  .department--name {
    font-weight: bold;
  } 
  