
<body>
    <div class="image-container"><img class= "image-container img" src="mountainbg.jpg" alt="Background Image"></div>
  <div class="register-form">
    <h1>Log In</h1>
    <form>
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <div>
        <button class = "button">Log in</button>
      </div>
    </form>
  </div>
</body>


