body {
    display: flex;
    min-height: 100vh;
    background-color: #F6FFFC;
    justify-content: center;
    align-items: flex-start;
}

.faculties-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 900px;
    padding-top: 90px;
}

.faculties-page-container--heading {
    font-weight: 900;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    color: #3aa14b;
}

.addFaculty {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #3b48d8;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding-right: 30px;
    /* Add padding to create space */
}